<h1><i style="border-left: 7px solid red; color: #EEEEEE; text-shadow: 3px 3px 9px #FF0000;">|  Розклад кінофільмів</i></h1>
<div class="Create" style="border-left: 10px solid #696969; background: #EEEEEE;">
  <i style="border-left: 10px solid #9ACD32; background: #98FB98;"><%= link_to "| Додати фільм", posts_path %></i>
</div>
<td></td>
<div class="Admin" style="border-left: 10px solid #696969; background: #EEEEEE;">
  <i style="border-left: 10px solid #4B0082; background: #DDA0DD;"><%= link_to "| Адмін панель", rails_admin_path %></i>
</div>
