<h1><i style="border-left: 7px solid red; color: #EEEEEE; text-shadow: 3px 3px 9px #FF0000;">| Edit Movie</i></h1>

<%= render 'form' %>

<i style="border-left: 7px solid #9ACD32; background: #EEEEEE;"><%= link_to 'Show', @post %></i> |
<i style="border-left: 7px solid #FFFF00; background: #EEEEEE;"><%= link_to 'Back', posts_path %></i>
